:host ::ng-deep {
  .dynamic-form {
    @import 'clarity-theme';

    margin: 0 10px;

    .dynamic-form-group {
      margin: 10px 0 20px 0;

      &.hidden {
        display: none;
      }
    }
  
    .dynamic-form-array {
      margin: 10px 0 20px 0;

      &.hidden {
        display: none;
      }
    }
    
    .dynamic-form-control {
      display: flex;
      flex-direction: column;
      
      &.hidden {
        display: none;
      }
      
      &.readonly {
        input, textarea, select {
          pointer-events: none;
        }
      }
    }
  }
}
